.container-1
{
    border: 1px solid black;
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

.container-1 h1
{
    border: 2px solid black;
    padding: 8px;
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto;
}

.container-1 h1 img
{
    padding-bottom: 4px;
    height: 53px;
}

table, th, td
{
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}

th, td
{
    width: 60px;
}

th
{
    background-color: rgb(212, 212, 212);
}

.container-1 h2
{
    border: 2px solid black;
    padding: 8px;
    font-size: 30px;
    margin: 0 auto;
}

.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3
{
    display: flex;
    border: 2px solid black;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-blackjack-row-2, .flex-blackjack-row-3
{
    background: url("../images/background.png");
    color: #FFFFFF;
}

.flex-blackjack-row-2 div
{
    border: 1px solid black;
    padding: 10px;
    flex: 1;
    height: 350px;
    text-align: center;
    overflow: auto;
}

.flex-blackjack-row-2 img
{
    height: 40%;
    padding: 10px;
}

.flex-blackjack-row-3 div
{
    border: 1px solid black;
    padding: 10px;
}

.flex-blackjack-row-3 button
{
    border: 1px solid black;
    padding: 10px;
    width: 70px;
}

.sliderBox
{
    margin: 8px auto;
    /*border: 1px solid black;*/
    padding: 10px;
    width: 30%;
    text-align: center;
}
  
/* The slider itself */
.slider
{
    padding-top: 5px;
    padding-bottom: 0;
    /*-webkit-appearance: none;*/       /* override default CSS styles */
    /*appearance: none;*/
    width: 80%;                         /* 80% width */
    /*height: 25px;*/                   /* specified height */
    /*background: #d3d3d3;*/            /* grey background */
    /*outline: none;*/                  /* remove outline */
    opacity: 0.5;                       /* set transparency (for mouse-over effects on hover) */
    -webkit-transition: .4s;            /* 0.2 seconds transition on hover */
    transition: opacity .4s;
}
  
/* Mouse-over effects */
.slider:hover
{
    opacity: 1;                         /* fully shown on mouse-over */
}
  
.copyright, .version
{
    margin: 0;
    position: fixed;
    right: 1%;
    font-size: 8px;
    color: black;
}

.copyright
{
    bottom: 1em;
}

.version
{
    bottom: 0;
}



